<div class="form-style-8">
  <h2>{{title | uppercase}}</h2>
  <form>
    <input type="text" placeholder="Add Task" #todo />
	<input type="text" placeholder="Assign Priority" #priority/>
	<input type="text" placeholder="Leave Empty if Not Done" #done/>
  </form>
<button (click) = "addTodo(todo.value,priority.value,done.value)" class="button">ADD</button>
  <br/><p></p>
<table>
	<tr>
		<th>Task</th>
		<th>Priority</th>
		<th>Status</th>
	</tr>
	<tr *ngFor="let todo of todos">
		<td>{{todo.label}}</td>
		<td>{{todo.priority}}</td>
		<td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
		<td>
			<button (click)="deleteTodo(todo)" class="button">DELETE</button>
		</td>
	</tr>
</table>
</div>